/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/output/playwright
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
npm-debug.log
/auth.json
/.idea
/.vscode
/.zed
